{{ templates.repo_sender_prefix }}
{% if action == OPEN %}
    opened {{ merge_request_link(object_attributes) }}
    {% if reviewers %}
        <br/>Reviewers: {{ util.join_human_list(reviewers, mutate=user_link) }}
    {% endif %}
    {% if object_attributes.description %}
        <blockquote>{{ object_attributes.description|markdown }}</blockquote>
    {% endif %}
    {{ fancy_labels(labels) }}
{% else %}
    {{ object_attributes.action.past_tense }}
    {{ merge_request_link(object_attributes) }}
{% endif %}
